body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", sans-serif;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  background-color: #000;
  background-image: url("/img/main.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}
a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: black;
  border: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #fff;

  background-color: #000;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #fff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}
.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-columns {
  color: black;

  background-color: #f8f5f2;
  background-position: 0 0;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  background-color: #ccc;
  border: 7px solid #fff;
}

.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000;
}
/* TODO add input focus */

.main-footer {
  color: #fff;

  background-color: #212121;
}

.footer-contacts a {
  color: #fff;
  text-decoration: none;
}

.main-footer a {
  color: #fff;
  text-decoration: none;
}
.main-footer a:hover,
.main-footer a:focus {
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: underline;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #fff;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: black;

  background-color: #fff;
}

.modal {
  color: #000;

  background-color: #f8f3f0;
}
.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.restore {
  color: #000;

  text-decoration: none;
}

.restore:hover {
  text-decoration: underline;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000;
}




