body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", sans-serif;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  min-height: 1122px;
  max-width: 1750px;

  background-color: rgb(0, 0, 0);
  background-image: url("/img/main.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visially-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  margin-bottom: 75px;
}

.button {
  font: inherit;

  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: black;
  border: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #fff;

  background-color: #000;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header-logo {
  order: 2;
  width: 368px;
  height: 153px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
}

.visually-hidden {
  text-align: center;
  display: none;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0;
  padding: 0;

  list-style: none;
}
.user-navigation {
  width: 140px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;

  vertical-align: middle;
  color: #fff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.user-navigation.login-link {
  position: relative;
  padding-left: 50px;
  
}

.login-link::before {
  content: "";

  position: absolute;
  top: 27px;
  left: 24px;

  width: 16px;
  height: 18px;

  background-image: url("/svg/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before{
  opacity: 1;
}


.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  margin: 0;
  padding: 0;
  width: 300px;
  text-align: center;
}
.feature-item h3 {
position: relative;

  margin: 0;
  margin-bottom: 60px;

  font-size: 30px;
  line-height: 42px;
}

.feature-item h3::after{
  content: "";

  position: absolute;

  width: 20px;
  height: 20px;

  background-color: #fff;
}


.feature-item h4 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}

.feature-item h5 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;

  color: black;

  background-color: #f8f5f2;
  background-position: 0 0;
}

.news {
  width: 380px;
}
.gallery {
  width: 300px;
}

.contacts {
  width: 380px;
}

.appointment {
  width: 300px;
  text-align: justify;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}

.gallery-content {
  background-color: #ccc;
  border: 7px solid #fff;
}

.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000;
}
/* TODO add input focus */

.main-footer {
  padding: 60px 0s;
  margin-top: 65px;
  color: #fff;

  background-color: #212121;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}

.footer-contacts a {
  color: #fff;
  text-decoration: none;
}

.main-footer a {
  color: #fff;
  text-decoration: none;
}
.main-footer a:hover,
.main-footer a:focus {
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: underline;
}

.footer-social {
  width: 145px;
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #fff;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  text-align: center;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: black;

  background-color: #fff;
}

.modal {
  color: #000;

  background-color: #f8f3f0;
}
.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.restore {
  color: #000;

  text-decoration: none;
}

.restore:hover {
  text-decoration: underline;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000;
}
